<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="FisierClienti" value="Clienti.txt"></add>
		<add key="FisierMasini" value="Masini.txt"></add>
		<add key="LastId" value="LastId.txt"></add>
	</appSettings>
</configuration>